<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  
  <div class="form-group">
    <label for="name">Character Name</label>
    <input
    type="text"
    id="name"
    name="name"
    class="form-control"
    [ngModel]="defaultName"
    required
    #nameCtrl="ngModel">
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name!</span>
  </div>
  
  <div class="form-group">
    <label for="side">Choose Side</label>
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let option of availableSides" [value]="option.value">
        {{ option.display }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="ID">Character ID</label>
    <input
    type="number"
    id="ID"
    name="ID"
    class="form-control"
    [ngModel]="defaultID"
    required
    #idCtrl="ngModel">
    <span class="help-block" *ngIf="idCtrl.invalid && idCtrl.touched">Please enter a ID!</span>
  </div>


  <label for="Attribute">Character Attribute</label>
  <br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
     <label class="btn btn-secondary ">
        <input type="radio" name="Attribute" id="atrb" value = positive  [ngModel]= "atrb"> Positive
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="Attribute" id="atrb" value = negative [ngModel]= "atrb"> Negative
      </label>
    </div>


  <br>
<button class="btn btn-primary" style="margin-top:50px" type="submit" [disabled]="form.invalid">Add Character</button>
</form>
