<div>
    <ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="active" >
      <a routerLink= "/characters/all">All</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink= "/characters/light">Light</a>    
    </li>
    <li class="nav-item"  routerLinkActive="active">
      <a routerLink= "/characters/dark">Dark</a>    
    </li>
  </ul>
<router-outlet></router-outlet>
</div>
