<a style="cursor: pointer" class="list-group-item">
  <h4 class="list-group-item-heading"><input [(ngModel)] = character.name /> </h4>

  <div>
    <button class="btn btn-outline-info" (click)= onSelect(character)><a [routerLink]="['/character-details/',this.character]">Details</a></button>
    <button class="btn btn-outline-info" (click)=onclick()>Exit</button>

  </div>
<br>
  <div *ngIf="hidediv">
  <app-character-details [character]="selectedCharacter"></app-character-details>

</div>
</a>
