<form  #form="ngForm">
  <div *ngIf="character">
  <div class="form-group">
    <label for="name">Character Name</label>
    <input
    type="text"
    id="name"
    name="name"
    class="form-control"
    [value]="character.name">
    </div>
  
  <div class="form-group">
    <label for="eye_color">Character Eye Color</label>
    <input
    type="text"
    id="eye_color"
    name="Attribute"
    class="form-control"
    [ngModel]="character.eye_color">
  </div>

  <div class="form-group">
    <label for="height">Character Height</label>
    <input
    type="number"
    id="height"
    name="height"
    class="form-control"
    [ngModel]="character.height">
  </div>

  <div class="form-group">
    <label for="mass">Character Mass</label>
    <input
    type="number"
    id="mass"
    name="mass"
    class="form-control"
    [ngModel]="character.mass">
  </div>


</div>
</form>
